/* mixins */
// Google Font verifier
@if variable-exists(google--font-nunito) {
	@import url($google--font-nunito);
}

// BEM selectors
@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

// Media Queries
@mixin mq($break) {
	@if $break == 'medium' {
		@media (min-width: $break-med) {
			@content;
		}
	}
}

// Flexbox Settings
@mixin center {
	margin-left: auto;
	margin-right: auto;
}

// Buttons
@mixin brdr {
	display: block;
	padding: 10px 20px;
	border-style: none;
	border-radius: 5px;
	font-weight: $bold;	
}

@mixin bg-colors($map) {
	@each $key, $color in $map {
		&--#{$key}.theme__colors {
			background-color: $color;
			@content;
		}
	}
}