/* variables */
// Fonts
$google--font-nunito: url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900');
$font-family        : 'Nunito', sans-serif;

// Font Weights
$light     : 300;
$normal    : 400;
$bold      : 700;
$ultra-bold: 900;

// Base Text
$font  : 16px;
$line  : 24px;
$letter: 0px;

// Breakpoints
$break-med: 768px;

// Colors
// Palette
$purple-majesty : #927bc1;
$coral          : #fd7856;
$sunglo         : #e4757a;
$emerald        : #63cc82;
$malibu         : #51ddfc;
$french-lilac   : #deb2ee;
$anakiwa        : #7ee6fd;
$vista-blue     : #88d9a0;
$fountain-blue  : #4da2bb;
$sea-pink       : #ec9fa3;
$vivid-tangerine: #fd9f85;
$riptide        : #80e8d1;
$viking         : #58e1c1;

// Basic ones
$white         : #fff;
$gray          : #888;

// Groups
$button-colors: (
    info   : $purple-majesty,
    warning: $coral,
    error  : $sunglo,
    success: $emerald,
    default: $malibu
);

$grid-colors: (
    3 : $french-lilac,
    4 : $anakiwa,
    5 : $vista-blue,
    6 : $fountain-blue,
    7 : $sea-pink,
    8 : $vivid-tangerine,
    12: $riptide 
);

$text-colors: (
    contrast : $white,
    overall  : $gray,
    important: $viking,
    link     : $malibu
)