/* forms */
// Form
.form {
	@include flex($dir: column);
  	flex: 1;
	&__label {
		&--hidden {
			display: none;
		}
		margin-bottom: em(10px);
	}
	&__input {
		width: 100%;
		font-size: em(18px);
		font-weight: $bold;
		color: clr(color-body);
		padding: em(15px, 18px);
		margin-bottom: em(20px, 18px);
		border-style: none;
		border-bottom: 6px solid clr(color-primary);
	}
}