/* navigation */
.nav {
	padding-left: 0;
	list-style-type: none;
	@extend %nav-item-horz;
	&__item {
		a {
			@extend %nav-item-link;
			text-decoration: none;
			&:hover {
				@extend %nav-item-on
			}
		}
	}
}
