/* typography */
// Overall text color
.container {
  color: clr(color-body);
}

// Links
.link {
	@extend %link;
}

// Headlines
.headline {
	&--primary {
		@extend %hdln--prim;
	}
	&--secondary {
		@extend %hdln--sec;
	}
}

// Block quote
.blockquote {
	border-left: 10px solid clr(color-primary);
	border-radius: $br--curve;
	margin: em(32px, 24px) 7%;
	padding: 0 0 0 5%;
	font-style: italic;
	font-size: em(24px);
	line-height: (29px / 24px);
}