/* base */
// Base
*{
	box-sizing: border-box;
	font-family: $font-family;
	letter-spacing: $letter;
}

// Paragraphs
p {
	line-height: 1.5;	 
}

// List elements
ul {
  list-style: none;
  padding-left: 0;
}

// Links
a {
  text-decoration: none;
}
