/* base */
// Base
*{
	box-sizing: border-box;
}

// Flexbox
.container {
	@include center-content;
	padding: 20px;
	font-size: $font;
	line-height: ($line / $font);
	font-family: $font-family;
	color: clr(overall);
	text-align: center;
}

.card {
	@include center-card;
	text-align: left;
	line-height: 25px;
}

// List elements


// Links

.link {
	color: clr(link);
	text-decoration: none;
	font-weight: $bold;
}
