/* base */
// Base
*{
	box-sizing: border-box;
}

// Flexbox
.container {
	@include center-content;
	font-size: $font-size;
	line-height: ($line/$font-size);
	font-family: $font-family;
	color: clr(overall);
}

.card {
	text-align: left;
	line-height: 25px;
}


// List elements
.nav__item {
	list-style-type: none;
}

// Links

.link {
	color: clr(link);
}
